<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yibei.mapper.SearchMapper">


    <select id="searMaterList" resultType="com.yibei.yb.domain.dto.MaterialItem">
        SELECT e.teaching_material_id AS materialId,
               e.title AS title,
               e.importance,
               SUBSTRING(e.content, LOCATE(#{keyword}, e.content) - 15, 40) AS content,
               m.title AS materialName
        FROM yb_teaching_material_entry e LEFT JOIN yb_teaching_material m  ON e.teaching_material_id = m.id
        WHERE e.content LIKE CONCAT('%' #{keyword}, '%')
        LIMIT 15

    </select>
    <select id="searExpand" resultType="com.yibei.yb.domain.dto.ExpandingItem"></select>
    <select id="searTopic" resultType="com.yibei.yb.domain.dto.TopicItemDTO"></select>
</mapper>