<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yibei.yb.mapper.YbAnswerLogMapper">

    <resultMap type="com.yibei.yb.domain.YbAnswerLog" id="YbAnswerLogResult">
        <result property="id" column="id"/>
        <result property="questionBankContentId" column="question_bank_content_id"/>
        <result property="questionBankId" column="question_bank_id"/>
        <result property="userId" column="user_id"/>
        <result property="type" column="type"/>
        <result property="lastTime" column="last_time"/>
        <result property="createTime" column="create_time"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>


</mapper>
