<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yibei.yb.mapper.YbCodeExchangeMapper">

    <resultMap type="com.yibei.yb.domain.YbCodeExchange" id="YbCodeExchangeResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="codeId" column="code_id"/>
        <result property="code" column="code"/>
        <result property="createTime" column="create_time"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>


</mapper>
