<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yibei.yb.mapper.YbUserVipMapper">

    <resultMap type="com.yibei.yb.domain.YbUserVip" id="YbUserVipResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="createTime" column="create_time"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>


</mapper>
